Em um concurso público foram contabilizados os números de pessoas inscritas (até a data inicialmente estabelecida para a inscrição) segundo os níveis de escolaridade: fundamental completo, médio completo, superior completo e pós-graduação completa. Segue abaixo a tabela com os valores observados.

Nível de escolaridade	Inscritos
Fundamental completo	451
Médio completo	627
Superior completo	292
Pós-graduação completa	95
Com base na tabela acima, crie uma Series com esses valores e calcule:

(a) O número total de inscritos
(b) Número inscritos que possuem, pelo menos, o superior completo.
(c) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições: 68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima (na mesma ordem). Assim, crie uma nova Series com esses valores.
(d) Utilizando as duas Series que você tem, calcule o número total de inscritos após a prorrogação do período de inscrições.

In [1]:
import pandas as pd
import numpy as np

inscritos = pd.Series(data=[451, 627, 292, 95], 
                   index=['Fundamental completo', 'Médio completo', 'Superior completo', 'Pós-graduação completa'])
print(f'{inscritos}\n')
# a)
totalInscritos = sum(inscritos)
print(f'Inscritos: {totalInscritos}\n')

# b)
totalInscritosB = inscritos['Superior completo':].sum()
print(f'Inscritos, com pelo menos Superior completo: {totalInscritosB}\n')

# c)
adicional = pd.Series(data=[68, 93, 22, 0], 
                   index=['Fundamental completo', 'Médio completo', 'Superior completo', 'Pós-graduação completa'])

print(f'Vagas adiocionais: \n{adicional}\n')

# d) 
novoTotal = inscritos + adicional

print(f'Novo total de inscritos{novoTotal}\nTotalizando {sum(novoTotal)} vagas')

Fundamental completo      451
Médio completo            627
Superior completo         292
Pós-graduação completa     95
dtype: int64

Inscritos: 1465

Inscritos, com pelo menos Superior completo: 387

Vagas adiocionais:
Fundamental completo      68
Médio completo            93
Superior completo         22
Pós-graduação completa     0
dtype: int64

Novo total de inscritosFundamental completo      519
Médio completo            720
Superior completo         314
Pós-graduação completa     95
dtype: int64
Totalizando 1648 vagas

Uma turma de cinco alunos foi submetida a uma avaliação e a nota de cada um dos alunos é apresentada na tabela abaixo:

Nome do Aluno	Nota
Wilfred	2
Abbie	7
Harry	5.5
Julia	10
Carrie	6.2
(a) Crie uma Series com os valores da tabela acima.
(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).
(c) Qual foi a nota média da turma.
(d) Obtenha o nome dos alunos que tiraram notas acima da média da turma.

In [2]:
# a)
alunos = pd.Series(data=[2, 7, 5.5, 10, 6.2], 
                   index=['Wilfred', 'Abbie', 'Harry', 'Julia', 'Carrie'])
print(f'{alunos}\n')

# b)
aprovados = alunos[alunos >= 7].value_counts().sum()
print(f'Número de aprovados: {aprovados}\n')

# c)
media = alunos.mean()
print(f'Média: {media}\n')

# d)
aprovados = alunos[alunos >= media]
print(f'Alunos acima da média: \n{aprovados}\n')

Wilfred     2.0
Abbie       7.0
Harry       5.5
Julia      10.0
Carrie      6.2
dtype: float64

Número de aprovados: 2

Média: 6.14

Alunos acima da média:
Abbie      7.0
Julia     10.0
Carrie     6.2
dtype: float64

Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:

Peso (kg)	Altura (cm)	Idade
72	180	31
80	170	21
60	175	16
90	174	28
100	185	23
Com base no DataFrame criado, realize o que pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.
(b) Obtenha a idade média das pessoas.
(c) Obtenha os dados das pessoas que estão abaixo da altura média.
(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.
(e) Remova a coluna que contém a idade das pessoas.
(f) Salve esses dados do DataFrame em um arquivo csv.

In [3]:
dados = np.array([[72, 180, 31],
                  [80, 170, 21],
                  [60, 175, 16],
                  [90, 174, 28],
                  [100, 185, 23]
                  ])

df = pd.DataFrame(data = dados, columns=['Peso (kg)',
                                         'Altura (cm)', 
                                         'Idade'
                                        ])
print(f'{df}\n')

# a)

altura = df['Altura (cm)']
print(f'Alturas: \n{altura}\n')

# b)

idadeMedia = df['Idade'].mean()
print(f'Média das idades: {idadeMedia}\n')

# c)

alturaMedia = df['Altura (cm)'].mean()
baixinhos = df[df['Altura (cm)'] < alturaMedia]
print(f'Média das idades: \n{baixinhos}\n')

# d) 

df['IMC'] = df['Peso (kg)']/(df['Altura (cm)']/100)**2
print(f'{df}\n')

# e)

df.drop('Idade', axis = 1, inplace = True)
print(f'{df}\n')

# f)

df.to_csv('Questão 13.csv', sep = ';')

   Peso (kg)  Altura (cm)  Idade
0         72          180     31
1         80          170     21
2         60          175     16
3         90          174     28
4        100          185     23

Alturas:
0    180
1    170
2    175
3    174
4    185
Name: Altura (cm), dtype: int32

Média das idades: 23.8

Média das idades:
   Peso (kg)  Altura (cm)  Idade
1         80          170     21
2         60          175     16
3         90          174     28

   Peso (kg)  Altura (cm)  Idade        IMC
0         72          180     31  22.222222
1         80          170     21  27.681661
2         60          175     16  19.591837
3         90          174     28  29.726516
4        100          185     23  29.218408

   Peso (kg)  Altura (cm)        IMC
0         72          180  22.222222
1         80          170  27.681661
2         60          175  19.591837
3         90          174  29.726516
4        100          185  29.218408

Carregue, em um objeto DataFrame, o arquivo CSV que você salvou no item (f) da questão anterior. Em seguida,

(a) Crie uma nova coluna que contenha o nome das pessoas (sinta-se à vontade para atribuir os nomes que preferir).
(b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.
(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).

In [13]:
df = pd.read_csv('Questão 13.csv', sep = ';')

# a)

df['Nomes'] = ['Nome 1', 'Nome 2', 'Nome 3', 'Nome 4', 'Nome 5']
print(f'{df}\n')

# b)

df = df.set_index('Nomes')
print(f'{df.index.tolist()}\n')

# c)

sobrepeso = df[(df['IMC'] >= 25) & (df['IMC'] <= 29.9)]
print(f'Pessoas com sobrepeso: \n{sobrepeso}\n')

   Unnamed: 0  Peso (kg)  Altura (cm)        IMC   Nomes
0           0         72          180  22.222222  Nome 1
1           1         80          170  27.681661  Nome 2
2           2         60          175  19.591837  Nome 3
3           3         90          174  29.726516  Nome 4
4           4        100          185  29.218408  Nome 5

['Nome 1', 'Nome 2', 'Nome 3', 'Nome 4', 'Nome 5']

Pessoas com sobrepeso:
        Unnamed: 0  Peso (kg)  Altura (cm)        IMC
Nomes
Nome 2           1         80          170  27.681661
Nome 4           3         90          174  29.726516
Nome 5           4        100          185  29.218408

Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na Questão 3. Em seguida,

(a) Adicione uma nova coluna nesse DF chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

IMC	Classificação	Obesidade (grau)
Menor que 18,5	Magreza	0
Entre 18,5 e 24,9	Normal	0
Entre 25,0 e 29,9	Sobrepeso	I
Entre 30,0 e 39,9	Obesidade	II
Maior que 40,0	Obesidade Grave	III
(b) Salve em DataFrame no formato xlsx.

In [39]:
df = pd.read_csv('Questão 13.csv', sep = ';')

# a)

df['Classificação'] = np.nan
df['Classificação'].iloc[df['IMC'] < 18.5] = 'Magreza'
df['Classificação'].iloc[(df['IMC'] >= 18.5) & (df['IMC'] <= 24.9)] = 'Normal'
df['Classificação'].iloc[(df['IMC'] >= 25) & (df['IMC'] <= 29.9)] = 'Sobrepeso'
df['Classificação'].iloc[(df['IMC'] >= 30) & (df['IMC'] <= 39.9)] = 'Obesidade'
df['Classificação'].iloc[(df['IMC'] > 40)] = 'Obesidade grave'

print(df)

# b)

df.to_excel('Questão 13.xlsx')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

   Unnamed: 0  Peso (kg)  Altura (cm)        IMC Classificação
0           0         72          180  22.222222        Normal
1           1         80          170  27.681661     Sobrepeso
2           2         60          175  19.591837        Normal
3           3         90          174  29.726516     Sobrepeso
4           4        100          185  29.218408     Sobrepeso

In [69]:
dados = np.array([['Fundamental completo', 451],
                   ['Médio completo', 627],
                   ['Superior completo', 292],
                   ['Pós-graduação completa', 95]
                  ])

df = pd.DataFrame(data = dados, columns=['Nível de escolaridade',
                                              'Inscritos'])

# a)

df['Inscritos'] = df['Inscritos'].astype(int)
inscritos = df['Inscritos'].sum()
print(f'Inscritos: {inscritos}')

# b)

inscritosB = df.loc[(df['Nível de escolaridade'] == 'Superior completo') | (df['Nível de escolaridade'] == 'Pós-graduação completa')].sum()
inscritosB = inscritosB['Inscritos']
print(f'Inscritos, pelo menos, com superior completo: {inscritosB}')

# c) 
adicao = pd.DataFrame(np.array([68, 93, 22, 0]).astype(int))
novosInscritos = df
novosInscritos['Inscritos'] = novosInscritos['Inscritos'] + adicao
novosInscritos

Inscritos: 1465
Inscritos, pelo menos, com superior completo: 387

    Nível de escolaridade  Inscritos
0    Fundamental completo      519.0
1          Médio completo      544.0
2       Superior completo      473.0
3  Pós-graduação completa      451.0