In [1]:
import numpy as np
import pandas as pd

O arquivo avocado.csv consiste em um dataset que contém dados sobre vendas de abacates (avocado, em inglês) em diversas regiões dos Estados Unidos. Essa dataset contém as seguintes colunas:

Date - a data da observação
AveragePrice - o preço médio de um único abacate
year - o ano
region - a cidade ou região da observação
Total Volume - volume total de abacates vendidos
Além das informações acima, contidas no arquivo avocado.csv, o tipo do abacate (convencional ou orgânico) também seria uma informação importante para a sua análise. Suponhamos que você conseguiu essas informações para cada uma das observações do arquivo avocado.csv, na mesma ordem, e salvou-as no arquivo avocado_type.csv. Portanto, tudo o que você precisa é juntar esses dois arquivos em um mesmo DataFrame. E, em seguida, salve-o em um arquivo csv.

PS. Caso queira criar uma Series com os dados aleatórios para o tipo de abacate, utilize o código abaixo:

tipos = pd.Series(np.random.randint(0, 2, df_avocado.shape[0]))
tipos = tipos.map({0: 'convencional', 1:'orgânico'})
Clique aqui para fazer o download do dataset avocado.csv.

Clique aqui para fazer o download do dataset avocado_type.csv.

In [2]:
df = pd.read_csv('avocado.csv', sep=',')
dfType = pd.read_csv('avocado_type.csv', sep=',')

In [3]:
df2 = pd.merge(df, dfType, on=None, left_index=True, right_index=True)
df2.to_csv('Questão 01.csv', sep=';')

Carregue o arquivo csv que você salvou na questão anterior e, em seguida, obtenha o que é solicitado nos itens elencados abaixo:

(a) A quantidade de abacates do tipo convecional e do tipo orgânico.
(b) A quantidade de registros (linhas) de abacates vendidos para cada região.
(c) Para que todos os labels das colunas fiquem padronizados, renomeie aqueles que estão iniciando em letra minúscula para que iniciem em letra maiúscula.
(d) Uma vez que você já possui uma coluna com a data, remova a coluna que apresenta o ano.

In [4]:
df = pd.read_csv('Questão 01.csv', sep=';')

df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,year,region,type
0,0,2015-12-27,1.33,64236.62,2015,Albany,conventional
1,1,2015-12-20,1.35,54876.98,2015,Albany,conventional
2,2,2015-12-13,0.93,118220.22,2015,Albany,conventional
3,3,2015-12-06,1.08,78992.15,2015,Albany,conventional
4,4,2015-11-29,1.28,51039.60,2015,Albany,conventional

In [5]:
#a
dfa = df.query('type == "conventional" or type == "organic"')
dfa = df.groupby('type').sum()[['Total Volume']]
print(f'a) \n{dfa}')

#b
dfb = df.groupby('region').count()
dfb = dfb.drop(columns=['Date', 'AveragePrice', 'Total Volume', 'year', 'type'])
dfb = dfb.rename(columns={"Unnamed: 0": "Quantidade de registros"})
print(f'b) \n{dfb}')

#c
dfc = df.rename(columns={'year': 'Year', 'region':'Region', 'type':'Type'})
print(f'c) \n{dfc}')

#d
dfd = df.drop(columns=['year'])
print(f'd) \n{dfd}')

a)
              Total Volume
type
conventional  1.508722e+10
organic       4.361817e+08
b)
                     Quantidade de registros
region
Albany                                   338
Atlanta                                  338
BaltimoreWashington                      338
Boise                                    338
Boston                                   338
BuffaloRochester                         338
California                               338
Charlotte                                338
Chicago                                  338
CincinnatiDayton                         338
Columbus                                 338
DallasFtWorth                            338
Denver                                   338
Detroit                                  338
GrandRapids                              338
GreatLakes                               338
HarrisburgScranton                       338
HartfordSpringfield                      338
Houston                                  338
Indianapolis                             338
Jacksonville                             338
LasVegas                                 338
LosAngeles                               338
Louisville                               338
MiamiFtLauderdale                        338
Midsouth                                 338
Nashville                                338
NewOrleansMobile                         338
NewYork                                  338
Northeast                                338
NorthernNewEngland                       338
Orlando                                  338
Philadelphia                             338
PhoenixTucson                            338
Pittsburgh                               338
Plains                                   338
Portland                                 338
RaleighGreensboro                        338
RichmondNorfolk                          338
Roanoke                                  338
Sacramento                               338
SanDiego                                 338
SanFrancisco                             338
Seattle                                  338
SouthCarolina                            338
SouthCentral                             338
Southeast                                338
Spokane                                  338
StLouis                                  338
Syracuse                                 338
Tampa                                    338
TotalUS                                  338
West                                     338
WestTexNewMexico                         335
c)
       Unnamed: 0        Date  AveragePrice  Total Volume  Year  \
0               0  2015-12-27          1.33      64236.62  2015
1               1  2015-12-20          1.35      54876.98  2015
2               2  2015-12-13          0.93     118220.22  2015
3               3  2015-12-06          1.08      78992.15  2015
4               4  2015-11-29          1.28      51039.60  2015
...           ...         ...           ...           ...   ...
18244       18244  2018-02-04          1.63      17074.83  2018
18245       18245  2018-01-28          1.71      13888.04  2018
18246       18246  2018-01-21          1.87      13766.76  2018
18247       18247  2018-01-14          1.93      16205.22  2018
18248       18248  2018-01-07          1.62      17489.58  2018

                 Region          Type
0                Albany  conventional
1                Albany  conventional
2                Albany  conventional
3                Albany  conventional
4                Albany  conventional
...                 ...           ...
18244  WestTexNewMexico       organic
18245  WestTexNewMexico       organic
18246  WestTexNewMexico       organic
18247  WestTexNewMexico       organic
18248  WestTexNewMexico       organic

[18249 rows x 7 columns]
d)
       Unnamed: 0        Date  AveragePrice  Total Volume            region  \
0               0  2015-12-27          1.33      64236.62            Albany
1               1  2015-12-20          1.35      54876.98            Albany
2               2  2015-12-13          0.93     118220.22            Albany
3               3  2015-12-06          1.08      78992.15            Albany
4               4  2015-11-29          1.28      51039.60            Albany
...           ...         ...           ...           ...               ...
18244       18244  2018-02-04          1.63      17074.83  WestTexNewMexico
18245       18245  2018-01-28          1.71      13888.04  WestTexNewMexico
18246       18246  2018-01-21          1.87      13766.76  WestTexNewMexico
18247       18247  2018-01-14          1.93      16205.22  WestTexNewMexico
18248       18248  2018-01-07          1.62      17489.58  WestTexNewMexico

               type
0      conventional
1      conventional
2      conventional
3      conventional
4      conventional
...             ...
18244       organic
18245       organic
18246       organic
18247       organic
18248       organic

[18249 rows x 6 columns]

Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na questão Q1, agrupe os dados do DF pelo tipo do abacate e, em seguida, obtenha:

(a) A volume total de abacates vendidos para cada tipo.
(b) O preço médio dos abacates vendidos para cada tipo.

In [6]:
#a
dfa = df.groupby('type').sum()[['Total Volume']]
dfa = dfa.rename(columns={'Total Volume': 'Total vendido'})
print(f'a) \n{dfa}')

#b
dfa = df.groupby('type').mean()[['Total Volume']]
dfa = dfa.rename(columns={'Total Volume': 'Preço Médio'})
print(f'b) \n{dfa}')

a)
              Total vendido
type
conventional   1.508722e+10
organic        4.361817e+08
b)
               Preço Médio
type
conventional  1.653213e+06
organic       4.781121e+04

O arquivo googleplaystore.csv é um dataset que contém diversas informações sobre aplicativos disponíveis para download na Google Play Store. Você deve utilizar esse dataset para fazer o mesmo que foi solicitado na questão anterior. Ou seja, carregue-o em um objeto DataFrame e verifique os dados contidos nas colunas desse DF. Logo após, verifique se existem dados duplicados e/ou ausentes nesse dataset.

Caso existam dados duplicados, remova-os. Caso existam dados ausentes, você pode removê-los ou pensar em alguma maneira de preenchê-los.

Clique aqui para fazer o download do dataset.

In [21]:
df = pd.read_csv('googleplaystore.csv', sep=',')
print(f'Tamanho original: {df.size} linhas')
df = df.dropna()
df = df.drop_duplicates()
print(f'Tamanho final: {df.size} linhas')

Tamanho original: 140933 linhas
Tamanho final: 115518 linhas

In [38]:
df = pd.read_csv('houses_to_rent.csv', sep=',')
print(f'{df.head()}')
print(f'\nDuplicados: {df.duplicated().sum()}\n')
# Há valores duplicados
print(f'Nulos:\n{df.isnull().sum()}\n')
#Não há valores nulos
print(f'Tamanho original: {df.size} linhas')
df = df.drop_duplicates()
print(f'\nApós remover as linhas duplicadas: {df.size} linhas')

           city  area  rooms  bathroom  parking spaces floor     animal  \
0     São Paulo    70      2         1               1     7      acept
1     São Paulo   320      4         4               0    20      acept
2  Porto Alegre    80      1         1               1     6      acept
3  Porto Alegre    51      2         1               0     2      acept
4     São Paulo    25      1         1               0     1  not acept

       furniture  hoa (R$)  rent amount (R$)  property tax (R$)  \
0      furnished      2065              3300                211
1  not furnished      1200              4960               1750
2  not furnished      1000              2800                  0
3  not furnished       270              1112                 22
4  not furnished         0               800                 25

   fire insurance (R$)  total (R$)
0                   42        5618
1                   63        7973
2                   41        3841
3                   17        1421
4                   11         836

Duplicados: 358

Nulos:
city                   0
area                   0
rooms                  0
bathroom               0
parking spaces         0
floor                  0
animal                 0
furniture              0
hoa (R$)               0
rent amount (R$)       0
property tax (R$)      0
fire insurance (R$)    0
total (R$)             0
dtype: int64

Tamanho original: 138996 linhas

Após remover as linhas duplicadas: 134342 linhas