# Revisão

>

# Aula 08: Criando um banco de dados e manipulando dados salvos

Já sabemos como consultar informações em bancos de dados. Hoje vamos explorar como um banco de dados é criado e como inserir, atualizar e deletar dados.

CRUD é um acrônimo para:
- C: Create
- R: Read
- U: Update
- D: Delete

Em geral, as empresas possuem times totalmente dedicados à criação e manutenção de bancos de dados, que restringem a maioria (se não todos) dos comandos que aprenderemos hoje aos demais usuários. Tais restrições são necessárias para que seja garantida a integridade e bom funcionamento do banco.

[Material](https://docs.google.com/presentation/d/14RXa3WFNmhYN3LZdfuJJhW7pdCpyvISBN2CRrUMvzCQ/edit#slide=id.p1)

# Habilidades a serem desenvolvidas

Ao final da aula, o aluno deve:
1. Conhecer os principais fundamentos e funções para criação de banco de dados;
1. Saber como manipular registros em bancos de dados;
1. Entender como criar um banco e dados local;
1. Entender que, em geral, não terá permissões para executar tais tarefas a não ser que seja do time responsável pelo banco de dados!!!!!

# DDL - Data Definition Language

**Exercício:**

Vamos criar juntos uma base de dados para o banco com duas tabelas `agencias` e `clientes`. Essas tabelas devem estar relacionadas.

Considere que um cliente pode ter conta em várias agências e uma agência deve ter muitos clientes.

A tabela `agências` deve conter código, nome, endereço e telefone da agência.  
A tabela `clientes` deve conter um código do cliente, nome, data de nascimento, agência e conta.

## CREATE
Usado para criar um banco de dados, tabela e outros objetos em um banco de dados. Um guia sobre os tipos de campos pode ser encontrado [aqui](https://aprendendodotnet.wordpress.com/2012/03/10/sql-server-o-comando-create-table-e-tipos-de-dados/#:~:text=SQL%20Server%20%E2%80%93%20O%20Comando%20CREATE%20TABLE%20e,Comprimento%20Fi%20...%20%208%20more%20rows%20).

Criar a tabela `agencias`. Quais as condições em cada campo?

Query:

Criar a tabela `clientes`. Quais as condições em cada campo?  
**OBS:** Como utitlizar a chave estrangeira?

Query:

## ALTER
Usado para alterar a estrutura de tabelas ou outro objeto em um banco de dados.

Exemplo: Altere o nome da tabela clientes para customers.

Query:

Altere o tipo da coluna nome na table clientes para TEXT.

Query:

## DROP
Usado para apagar bancos de dados, tabelas e outros objetos.

Delete a tabela `customers`.

Query:

# DML - Data Manipulation Language

## INSERT
Usado para inserir um registro a uma tabela existente.

Insira os dados de uma agência na tabela.

Query:

Adicione um registo sem um dos campos, por exemplo, endereço.

Query:

Adicione um registro sem o campo nome. O que aconteceu?

Query:

Resultado:

## UPDATE
Usado para alterar valores de dados em um ou mais registros de uma tabela.

Arrume o campo telefone da agência matriz.

Query:

## DELETE
Usado para remover registros de uma tabela.

Delete os registros de agências com endereço nulo.?

Query:

# INDICES

Exemplo encontrado [aqui](https://pt.wikibooks.org/wiki/PostgreSQL_Pr%C3%A1tico/DDL/%C3%8Dndices,_Tipos_de_Dados_e_Integridade_Referencial).

Uma tabela contendo os CEPs do Brasil, com 633.401 registros.

- sem indice

    SELECT * FROM cep_tabela WHERE cep = ‘60420440’;

    **Em 7691 ms**
   

- Pós adicionar um índice:

    ALTER TABLE cep_tabela ADD CONSTRAINT cep_pk PRIMARY KEY (cep);


    A mesma consulta anterior agora gasta apenas **10 ms**.

Como criar um indice?

    CREATE INDEX nomeindice ON tabela (lower (nomecampo));

Crie um indice na tabela `agencia`.

Query:

# Exercícios

Enviar para o email filipe.furlan@letscode.com.br até 2021/07/31 um arquivo de texto (785_firstname_lastname_aula08.sql) com a resolução dos exercicios abaixo.

IMPORTANTE: Inserir uma linha de comentário -- exercicio XX (XX = 1, 2A, 2B etc) antes de cada solução.

1. Crie duas tabelas: produto e categoria. Essas duas tabelas devem estar relacionadas.
    - Considere que o produto possui uma descrição, preço, frete e categoria. 
    - Considere que a categoria possui apenas uma descrição. 
    - Não esqueça de inserir as chaves primárias e estrangeira da forma correta, de modo a criar o relacionamento entre as tabelas.
    1. Adicione 3 registros em casa tabela.


2. Crie duas tabelas: turmas e alunos. Essas duas tabelas devem estar relacionadas. 
    - Um aluno pode pertencer a muitas turmas e uma turma deve conter muitos alunos.
    - Considere que o aluno possui: nome, matrícula, data de nascimento e e-mail. 
    - A turma possui os atributos descrição, professor (considere apenas um), data de início, e data de término.
    1. Adicione 3 registros em casa tabela.