# Exercício

Enviar para o email filipe.furlan@letscode.com.br até **2021/08/12** o notebook (`matematica_firtsname_lastname_aula09.ipynb`) com a resolução dos exercicios abaixo.

# Relembrando o Teorema Central do Limite (TCL ou CLT)

Seja uma amostra aleatória ($x_1, x_2, \cdots, x_n$) de uma variável aleatória $X$ com qualquer distribuição, média $\mu$ e desvio padrão $\sigma$. A medida que $n$ cresce, a distribuição de probabilidade da média amostral, $\overline{X}$, se aproxima de uma Normal com média $\mu$ e desvio padrão $\frac{\sigma}{\sqrt{n}}$. Isto é $\overline{X} \sim N (\mu, \sigma^2/n)$. Se a transformação a baixo for realizada, então $Z \sim N (0,1)$.

$$Z = \frac{\overline{X} -\mu}{\sigma/\sqrt{n}} $$

O **Teorema do Limite Central** afirma que, com o aumento do tamanho da amostra, a distribuição das médias amostrais se aproxima de uma distribuição normal com média igual à média da população e desvio padrão igual ao desvio padrão da variável original dividido pela raiz quadrada do tamanho da amostra. Este fato é assegurado para $n$ maior ou igual a 30.

$$\sigma_\bar{x} = \frac{\sigma}{\sqrt{n}}$$

O desvio padrão das médias amostrais é conhecido como **erro padrão da média**

# Carregando os dados

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('../datasets/pnad_2015.csv')

In [6]:
df.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

# Exercício 1

1. Calcule a média (mu) e o desvio padrão (sigma) da idade dos brasileiros.
1. Faça um histograma das idades.
1. Encontre o número de amostras $N$ e o tamanho amostral $n$ que comprovem a validade do TLC com um erro absoluto menor que 0.05.
    - calcule a média das médias $\bar{x}$;
    - erro = ($\bar{x}$ - mu) / mu.
1. Para os valores de $N$ e $n$ encontrados acima, qual o erro do desvio padrão do TLC ($\sigma_X$) comparado com o valor real?
1. Faça um histograma (barras) da média das médias.

# Exercício 2

Considerando a renda dos brasileiros que ganham até R$ 25.000,00.

1. Faça um histograma dos valores de renda.
1. Usando os valores de $N$ e $n$ encontrados acima, calcule a média ($\bar{x}$) e o desvio padrão ($\sigma_X$) das médias.
1. Qual o erro dos resultados acima comparados com o valor da população?

# Exercício 3

Até aqui, usamos os valores reais da população para mostrar a validade do TLC. Explique brevemente como você usaria as técnicas de amostragem e o TLC para estimar o valor de um parâmetro desconhecido, por exemplo, o tempo médio de espera na fila para atendimento nos caixas do banco.