# Data Warehouse

Vamos criar nossa Data Warehouse com os arquivos da pasta `data`. 

1. Crie uma base de dados chamada `hr` no `hive`.
1. Para cada arquivo, crie uma tabela externa de mesmo nome no `hive`.
    1. Como você faria para criar tabelas internas?
    1. Como você trata arquivos com e sem `headers`?
1. Selecione todos os dados de cada tabela para verificar que o processo funcionou.

## Crie a tabela
$ hdfs dfs -mkdir /user/hive/hr

## Criar tabela externa para cada arquivo

### Criando as pastas
```
hdfs dfs -mkdir /user/hive/hr/jobs
hdfs dfs -mkdir /user/hive/hr/countries
hdfs dfs -mkdir /user/hive/hr/departments
hdfs dfs -mkdir /user/hive/hr/dependents
hdfs dfs -mkdir /user/hive/hr/employees
hdfs dfs -mkdir /user/hive/hr/locations
hdfs dfs -mkdir /user/hive/hr/regions
hdfs dfs -put Documents/dados_hr/jobs.csv /user/hive/hr/jobs/
hdfs dfs -put Documents/dados_hr/countries.csv /user/hive/hr/countries/
hdfs dfs -put Documents/dados_hr/departments.csv /user/hive/hr/departments/
hdfs dfs -put Documents/dados_hr/dependents.csv /user/hive/hr/dependents/
hdfs dfs -put Documents/dados_hr/employees.csv /user/hive/hr/employees/
hdfs dfs -put Documents/dados_hr/locations.csv /user/hive/hr/locations/
hdfs dfs -put Documents/dados_hr/regions.csv /user/hive/hr/regions/
```

### Criando as tabelas externas

acessando o beeline:
``
beeline -u "jdbc:hive2://quickstart.cloudera:10000/default"
``

jobs:

``` mysql
create external table jobs ( indice int, job_title string, min_salario float, max_salario float) 
row format delimited fields terminated by ',' lines terminated by '\n' 
stored as textfile
location '/user/hive/hr/jobs';
```

countries:

``` mysql
create external table countries ( country_id string, country_name string, region_id int) 
row format delimited fields terminated by ',' lines terminated by '\n' 
stored as textfile
location '/user/hive/hr/countries'
tblproperties("skip.header.line.count"="1"); 
```

departments:

``` mysql
create external table departments ( department_id string, department_name string, location_id int) 
row format delimited fields terminated by ',' lines terminated by '\n' 
stored as textfile
location '/user/hive/hr/departments'
tblproperties("skip.header.line.count"="1"); 
``` 

dependents:

``` mysql
create external table dependents ( dependent_id string, first_name string, last_name string, relationship string, employee_id int) 
row format delimited fields terminated by ',' lines terminated by '\n' 
stored as textfile
location '/user/hive/hr/dependents'
tblproperties("skip.header.line.count"="1"); 
``` 

employees:

``` mysql
create external table employees ( employee_id string, first_name string, last_name string, email string, phone_number string, hire_date date, job_id int, salary float, manager_id int, department_id int) 
row format delimited fields terminated by ',' lines terminated by '\n' 
stored as textfile
location '/user/hive/hr/employees'
tblproperties("skip.header.line.count"="1"); 
``` 

locations:

``` mysql
create external table locations ( location_id int, adress string, random string, city string, city_2 string, country string) 
row format delimited fields terminated by ',' lines terminated by '\n' 
stored as textfile
location '/user/hive/hr/locations';
``` 

regions:

``` mysql
create external table regions ( region_id int, region string) 
row format delimited fields terminated by ',' lines terminated by '\n' 
stored as textfile
location '/user/hive/hr/regions'; 
```

> A) Tabela interna:
create table interna ( id int ) 

> B) Com headers: uso do comando ```tblproperties("skip.header.line.count"="1")```, para ignorar a primeira linha com headers 

> B) Sem headers: basta nomear os ```headers``` ao criar a tabela

# Hive / beeline

1. Em quantos países a empresa está presente, de acordo com os dados da tabela `location`?
1. Em quais cidades inglesas e alemãs a empresa está presente?
1. Faça um relatório que traga o primeiro nome colaborador e o número de dependentes (colaborador | dependentes). Importante que os colaboradores que não tem dependentes também apareçam na lista. A lista deve ser ordenada pelo número de dependentes, do maior para o menor e em seguida por ordem alfabética.
1. A empresa está passando por uma reestruturação e precisa saber quantos funcionários estão alocados em cada departamento, bem como o total e a média de salários deles. Faça um relatório no formato nome_departamento | numero_funcionarios | salario_total | salario_medio ordenado por salario medio, do maior para o menor. Os números decimais devem conter duas casas após a virgula.
1. Faça um relatório que apresente o número de funcionários, o salario total e médio por departamento e país.
1. Traga o valor acumulado por departamento de cada pais .

# Para entregar

Exercícios 4 e 6.