In [1]:
# !pip3 install pyspark
from pyspark import sql, SparkConf, SparkContext
from pyspark.sql.types import StructType, StringType, IntegerType, FloatType

sc = SparkContext()
spark = sql.SparkSession(sc)

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
# from pyspark import SparkConf
# from pyspark.sql import SQLContext

sc = SparkContext()
spark = SparkSession(sc)


# sqlContext = SQLContext(sc)

In [2]:
jobs = sc.textFile("data/jobs.csv")
jobs.collect()

['1,Public Accountant,4200.00,9000.00',
 '2,Accounting Manager,8200.00,16000.00',
 '3,Administration Assistant,3000.00,6000.00',
 '4,President,20000.00,40000.00',
 '5,Administration Vice President,15000.00,30000.00',
 '6,Accountant,4200.00,9000.00',
 '7,Finance Manager,8200.00,16000.00',
 '8,Human Resources Representative,4000.00,9000.00',
 '9,Programmer,4000.00,10000.00',
 '10,Marketing Manager,9000.00,15000.00',
 '11,Marketing Representative,4000.00,9000.00',
 '12,Public Relations Representative,4500.00,10500.00',
 '13,Purchasing Clerk,2500.00,5500.00',
 '14,Purchasing Manager,8000.00,15000.00',
 '15,Sales Manager,10000.00,20000.00',
 '16,Sales Representative,6000.00,12000.00',
 '17,Shipping Clerk,2500.00,5500.00',
 '18,Stock Clerk,2000.00,5000.00',
 '19,Stock Manager,5500.00,8500.00']

In [3]:
df = spark.read.csv("data/jobs.csv")
df.show()

+---+--------------------+--------+--------+
|_c0|                 _c1|     _c2|     _c3|
+---+--------------------+--------+--------+
|  1|   Public Accountant| 4200.00| 9000.00|
|  2|  Accounting Manager| 8200.00|16000.00|
|  3|Administration As...| 3000.00| 6000.00|
|  4|           President|20000.00|40000.00|
|  5|Administration Vi...|15000.00|30000.00|
|  6|          Accountant| 4200.00| 9000.00|
|  7|     Finance Manager| 8200.00|16000.00|
|  8|Human Resources R...| 4000.00| 9000.00|
|  9|          Programmer| 4000.00|10000.00|
| 10|   Marketing Manager| 9000.00|15000.00|
| 11|Marketing Represe...| 4000.00| 9000.00|
| 12|Public Relations ...| 4500.00|10500.00|
| 13|    Purchasing Clerk| 2500.00| 5500.00|
| 14|  Purchasing Manager| 8000.00|15000.00|
| 15|       Sales Manager|10000.00|20000.00|
| 16|Sales Representative| 6000.00|12000.00|
| 17|      Shipping Clerk| 2500.00| 5500.00|
| 18|         Stock Clerk| 2000.00| 5000.00|
| 19|       Stock Manager| 5500.00| 8500.00|
+---+--------------------+--------+--------+

In [4]:
schema = StructType() \
      .add("Indice",IntegerType(),True) \
      .add("job_title",StringType(),True) \
      .add("salario_min",FloatType(),True) \
      .add("salario_max",FloatType(),True) 

df = spark.read.csv("data/jobs.csv", schema=schema)
df.show()

+------+--------------------+-----------+-----------+
|Indice|           job_title|salario_min|salario_max|
+------+--------------------+-----------+-----------+
|     1|   Public Accountant|     4200.0|     9000.0|
|     2|  Accounting Manager|     8200.0|    16000.0|
|     3|Administration As...|     3000.0|     6000.0|
|     4|           President|    20000.0|    40000.0|
|     5|Administration Vi...|    15000.0|    30000.0|
|     6|          Accountant|     4200.0|     9000.0|
|     7|     Finance Manager|     8200.0|    16000.0|
|     8|Human Resources R...|     4000.0|     9000.0|
|     9|          Programmer|     4000.0|    10000.0|
|    10|   Marketing Manager|     9000.0|    15000.0|
|    11|Marketing Represe...|     4000.0|     9000.0|
|    12|Public Relations ...|     4500.0|    10500.0|
|    13|    Purchasing Clerk|     2500.0|     5500.0|
|    14|  Purchasing Manager|     8000.0|    15000.0|
|    15|       Sales Manager|    10000.0|    20000.0|
|    16|Sales Representative|     6000.0|    12000.0|
|    17|      Shipping Clerk|     2500.0|     5500.0|
|    18|         Stock Clerk|     2000.0|     5000.0|
|    19|       Stock Manager|     5500.0|     8500.0|
+------+--------------------+-----------+-----------+

In [5]:
df.select('job_title', 'salario_min').show()

+--------------------+-----------+
|           job_title|salario_min|
+--------------------+-----------+
|   Public Accountant|     4200.0|
|  Accounting Manager|     8200.0|
|Administration As...|     3000.0|
|           President|    20000.0|
|Administration Vi...|    15000.0|
|          Accountant|     4200.0|
|     Finance Manager|     8200.0|
|Human Resources R...|     4000.0|
|          Programmer|     4000.0|
|   Marketing Manager|     9000.0|
|Marketing Represe...|     4000.0|
|Public Relations ...|     4500.0|
|    Purchasing Clerk|     2500.0|
|  Purchasing Manager|     8000.0|
|       Sales Manager|    10000.0|
|Sales Representative|     6000.0|
|      Shipping Clerk|     2500.0|
|         Stock Clerk|     2000.0|
|       Stock Manager|     5500.0|
+--------------------+-----------+

In [6]:
df.filter(df.salario_min >=15000).show()

+------+--------------------+-----------+-----------+
|Indice|           job_title|salario_min|salario_max|
+------+--------------------+-----------+-----------+
|     4|           President|    20000.0|    40000.0|
|     5|Administration Vi...|    15000.0|    30000.0|
+------+--------------------+-----------+-----------+

In [7]:
df.select('salario_min').where(df.salario_min>=15000).groupby().sum().show()

+----------------+
|sum(salario_min)|
+----------------+
|         35000.0|
+----------------+