# Exercícios

Enviar para o email filipe.furlan@letscode.com.br até **2021/09/04** o notebook (`785_DE_firstname_lastname_aula08.ipynb`) com a resolução dos exercicios abaixo.

Use os arquivos da pasta `data` e crie um dataframe do spark para cada arquivo. **Usando os comandos do pyspark**, resolva os problemas abaixo.

In [1]:
# importar as funções
from pyspark import sql, SparkContext, HiveContext

# criar o sparkcontext
sc = SparkContext()

# criar a sessão spark
spark = sql.SparkSession(sc)

In [2]:
from pyspark.sql.types import StructType, StringType, IntegerType, FloatType
from pyspark.sql.functions import *

In [3]:
schema_jobs = StructType() \
        .add('indice', IntegerType(), True) \
        .add('job_title', StringType(), True) \
        .add('salario_min', FloatType(), True) \
        .add('salario_max', FloatType(), True)

jobs = spark.read.csv('data/jobs.csv', schema=schema_jobs)
jobs.show()

+------+--------------------+-----------+-----------+
|indice|           job_title|salario_min|salario_max|
+------+--------------------+-----------+-----------+
|     1|   Public Accountant|     4200.0|     9000.0|
|     2|  Accounting Manager|     8200.0|    16000.0|
|     3|Administration As...|     3000.0|     6000.0|
|     4|           President|    20000.0|    40000.0|
|     5|Administration Vi...|    15000.0|    30000.0|
|     6|          Accountant|     4200.0|     9000.0|
|     7|     Finance Manager|     8200.0|    16000.0|
|     8|Human Resources R...|     4000.0|     9000.0|
|     9|          Programmer|     4000.0|    10000.0|
|    10|   Marketing Manager|     9000.0|    15000.0|
|    11|Marketing Represe...|     4000.0|     9000.0|
|    12|Public Relations ...|     4500.0|    10500.0|
|    13|    Purchasing Clerk|     2500.0|     5500.0|
|    14|  Purchasing Manager|     8000.0|    15000.0|
|    15|       Sales Manager|    10000.0|    20000.0|
|    16|Sales Representative|     6000.0|    12000.0|
|    17|      Shipping Clerk|     2500.0|     5500.0|
|    18|         Stock Clerk|     2000.0|     5000.0|
|    19|       Stock Manager|     5500.0|     8500.0|
+------+--------------------+-----------+-----------+

In [4]:
countries = spark.read.csv('data/countries.csv', header=True)
countries.show()

+----------+------------+---------+
|country_id|country_name|region_id|
+----------+------------+---------+
|        AR|   Argentina|        2|
|        AU|   Australia|        3|
|        BE|     Belgium|        1|
|        BR|      Brazil|        2|
|        CA|      Canada|        2|
|        CH| Switzerland|        1|
|        CN|       China|        3|
|        DE|     Germany|        1|
|        DK|     Denmark|        1|
|        EG|       Egypt|        4|
|        FR|      France|        1|
|        HK|    HongKong|        3|
|        IL|      Israel|        4|
|        IN|       India|        3|
|        IT|       Italy|        1|
|        JP|       Japan|        3|
|        KW|      Kuwait|        4|
|        MX|      Mexico|        2|
|        NG|     Nigeria|        4|
|        NL| Netherlands|        1|
+----------+------------+---------+
only showing top 20 rows

In [5]:
departments = spark.read.csv('data/departments.csv', header=True)
departments.show()

+-------------+----------------+-----------+
|department_id| department_name|location_id|
+-------------+----------------+-----------+
|            1|  Administration|       1700|
|            2|       Marketing|       1800|
|            3|      Purchasing|       1700|
|            4| Human Resources|       2400|
|            5|        Shipping|       1500|
|            6|              IT|       1400|
|            7|Public Relations|       2700|
|            8|           Sales|       2500|
|            9|       Executive|       1700|
|           10|         Finance|       1700|
|           11|      Accounting|       1700|
+-------------+----------------+-----------+

In [6]:
dependents = spark.read.csv('data/dependents.csv', header=True)
dependents.show()

+------------+----------+---------+------------+-----------+
|dependent_id|first_name|last_name|relationship|employee_id|
+------------+----------+---------+------------+-----------+
|           1|  Penelope|    Gietz|       Child|        206|
|           2|      Nick|  Higgins|       Child|        205|
|           3|        Ed|   Whalen|       Child|        200|
|           4|  Jennifer|     King|       Child|        100|
|           5|    Johnny|  Kochhar|       Child|        101|
|           6|     Bette|  De Haan|       Child|        102|
|           7|     Grace|   Faviet|       Child|        109|
|           8|   Matthew|     Chen|       Child|        110|
|           9|       Joe|  Sciarra|       Child|        111|
|          10| Christian|    Urman|       Child|        112|
|          11|      Zero|     Popp|       Child|        113|
|          12|      Karl|Greenberg|       Child|        108|
|          13|       Uma|   Mavris|       Child|        203|
|          14|    Vivien|   Hunold|       Child|        103|
|          15|      Cuba|    Ernst|       Child|        104|
|          16|      Fred|   Austin|       Child|        105|
|          17|     Helen|Pataballa|       Child|        106|
|          18|       Dan|  Lorentz|       Child|        107|
|          19|       Bob|Hartstein|       Child|        201|
|          20|   Lucille|      Fay|       Child|        202|
+------------+----------+---------+------------+-----------+
only showing top 20 rows

In [7]:
employees = spark.read.csv('data/employees.csv', header=True)
employees.show()

+-----------+-----------+----------+--------------------+------------+----------+------+--------+----------+-------------+
|employee_id| first_name| last_name|               email|phone_number| hire_date|job_id|  salary|manager_id|department_id|
+-----------+-----------+----------+--------------------+------------+----------+------+--------+----------+-------------+
|        100|     Steven|      King|steven.king@sqltu...|515.123.4567|1987-06-17|     4|24000.00|      null|            9|
|        101|      Neena|   Kochhar|neena.kochhar@sql...|515.123.4568|1989-09-21|     5|17000.00|       100|            9|
|        102|        Lex|   De Haan|lex.de haan@sqltu...|515.123.4569|1993-01-13|     5|17000.00|       100|            9|
|        103|  Alexander|    Hunold|alexander.hunold@...|590.423.4567|1990-01-03|     9| 9000.00|       102|            6|
|        104|      Bruce|     Ernst|bruce.ernst@sqltu...|590.423.4568|1991-05-21|     9| 6000.00|       103|            6|
|        105|      David|    Austin|david.austin@sqlt...|590.423.4569|1997-06-25|     9| 4800.00|       103|            6|
|        106|      Valli| Pataballa|valli.pataballa@s...|590.423.4560|1998-02-05|     9| 4800.00|       103|            6|
|        107|      Diana|   Lorentz|diana.lorentz@sql...|590.423.5567|1999-02-07|     9| 4200.00|       103|            6|
|        108|      Nancy| Greenberg|nancy.greenberg@s...|515.124.4569|1994-08-17|     7|12000.00|       101|           10|
|        109|     Daniel|    Faviet|daniel.faviet@sql...|515.124.4169|1994-08-16|     6| 9000.00|       108|           10|
|        110|       John|      Chen|john.chen@sqltuto...|515.124.4269|1997-09-28|     6| 8200.00|       108|           10|
|        111|     Ismael|   Sciarra|ismael.sciarra@sq...|515.124.4369|1997-09-30|     6| 7700.00|       108|           10|
|        112|Jose Manuel|     Urman|jose manuel.urman...|515.124.4469|1998-03-07|     6| 7800.00|       108|           10|
|        113|       Luis|      Popp|luis.popp@sqltuto...|515.124.4567|1999-12-07|     6| 6900.00|       108|           10|
|        114|        Den|  Raphaely|den.raphaely@sqlt...|515.127.4561|1994-12-07|    14|11000.00|       100|            3|
|        115|  Alexander|      Khoo|alexander.khoo@sq...|515.127.4562|1995-05-18|    13| 3100.00|       114|            3|
|        116|     Shelli|     Baida|shelli.baida@sqlt...|515.127.4563|1997-12-24|    13| 2900.00|       114|            3|
|        117|      Sigal|    Tobias|sigal.tobias@sqlt...|515.127.4564|1997-07-24|    13| 2800.00|       114|            3|
|        118|        Guy|    Himuro|guy.himuro@sqltut...|515.127.4565|1998-11-15|    13| 2600.00|       114|            3|
|        119|      Karen|Colmenares|karen.colmenares@...|515.127.4566|1999-08-10|    13| 2500.00|       114|            3|
+-----------+-----------+----------+--------------------+------------+----------+------+--------+----------+-------------+
only showing top 20 rows

In [8]:
schema_locations = StructType() \
        .add('location_id', IntegerType(), True) \
        .add('street_adress', StringType(), True) \
        .add('postal_code', StringType(), True) \
        .add('city_character', StringType(), True) \
        .add('state_province', StringType(), True) \
        .add('country_id', StringType(), True)

locations = spark.read.csv('data/locations.csv', schema=schema_locations)
locations.show()

+-----------+--------------------+-----------+-------------------+--------------+----------+
|location_id|       street_adress|postal_code|     city_character|state_province|country_id|
+-----------+--------------------+-----------+-------------------+--------------+----------+
|       1400| 2014 Jabberwocky Rd|      26192|          Southlake|         Texas|        US|
|       1500| 2011 Interiors Blvd|      99236|South San Francisco|    California|        US|
|       1700|     2004 Charade Rd|      98199|            Seattle|    Washington|        US|
|       1800|     147 Spadina Ave|    M5V 2L7|            Toronto|       Ontario|        CA|
|       2400|      8204 Arthur St|       null|             London|          null|        UK|
|       2500|Magdalen Centre, ...|    OX9 9ZB|             Oxford|        Oxford|        UK|
|       2700|Schwanthalerstr. ...|      80925|             Munich|       Bavaria|        DE|
+-----------+--------------------+-----------+-------------------+--------------+----------+

In [9]:
schema_regions = StructType() \
        .add('region_id', IntegerType(), True) \
        .add('region', StringType(), True)

regions = spark.read.csv('data/regions.csv', schema=schema_regions)
regions.show()

+---------+--------------------+
|region_id|              region|
+---------+--------------------+
|        1|              Europe|
|        2|            Americas|
|        3|                Asia|
|        4|Middle East and A...|
+---------+--------------------+

## Para treinar

1. Em quantos países a empresa está presente, de acordo com os dados da tabela `location`?
1. Em quais cidades inglesas e alemãs a empresa está presente?
1. Faça um relatório que traga o primeiro nome colaborador e o número de dependentes (colaborador | dependentes). Importante que os colaboradores que não tem dependentes também apareçam na lista. A lista deve ser ordenada pelo número de dependentes, do maior para o menor e em seguida por ordem alfabética.
1. A empresa está passando por uma reestruturação e precisa saber quantos funcionários estão alocados em cada departamento, bem como o total e a média de salários deles. Faça um relatório no formato nome_departamento | numero_funcionarios | salario_total | salario_medio ordenado por salario medio, do maior para o menor. Os números decimais devem conter duas casas após a virgula.
1. Faça um relatório que apresente o número de funcionários, o salario total e médio por departamento e país.
1. Traga o valor acumulado por departamento de cada pais.

### Em quantos países a empresa está presente, de acordo com os dados da tabela location?

In [10]:
locations.select(countDistinct('country_id')).show()

+--------------------------+
|count(DISTINCT country_id)|
+--------------------------+
|                         4|
+--------------------------+

### Em quais cidades inglesas e alemãs a empresa está presente?

In [11]:
#locations.select('city_character').where(locations.country_id.isin('UK', 'DE')).selectExpr("city_character as cidade").show()
locations.select('city_character').where(locations.country_id.isin('UK', 'DE')).show()

+--------------+
|city_character|
+--------------+
|        London|
|        Oxford|
|        Munich|
+--------------+

### Faça um relatório que traga o primeiro nome colaborador e o número de dependentes (colaborador | dependentes). Importante que os colaboradores que não têm dependentes também apareçam na lista. A lista deve ser ordenada pelo número de dependentes, do maior para o menor e em seguida por ordem alfabética.

In [12]:
employees_dependents = employees.join(dependents, on = employees.employee_id==dependents.employee_id, how='left' ).drop(dependents.first_name)

In [13]:
employees_dependents = employees_dependents.withColumn("dependent_id", \
                                                       when(employees_dependents["dependent_id"].isNull(), 0).otherwise(1))
employees_dependents.groupby('first_name').agg(sum('dependent_id').alias('dependentes')).selectExpr('first_name as colaborador', 'dependentes').orderBy(desc("dependentes"), "colaborador").show(employees_dependents.count(), False)

+-----------+-----------+
|colaborador|dependentes|
+-----------+-----------+
|Alexander  |2          |
|John       |2          |
|Karen      |2          |
|Bruce      |1          |
|Daniel     |1          |
|David      |1          |
|Den        |1          |
|Diana      |1          |
|Guy        |1          |
|Hermann    |1          |
|Ismael     |1          |
|Jennifer   |1          |
|Jonathon   |1          |
|Jose Manuel|1          |
|Lex        |1          |
|Luis       |1          |
|Michael    |1          |
|Nancy      |1          |
|Neena      |1          |
|Pat        |1          |
|Shelley    |1          |
|Shelli     |1          |
|Sigal      |1          |
|Steven     |1          |
|Susan      |1          |
|Valli      |1          |
|William    |1          |
|Adam       |0          |
|Britney    |0          |
|Charles    |0          |
|Irene      |0          |
|Jack       |0          |
|Kimberely  |0          |
|Matthew    |0          |
|Payam      |0          |
|Sarah      |0          |
|Shanta     |0          |
+-----------+-----------+

### A empresa está passando por uma reestruturação e precisa saber quantos funcionários estão alocados em cada departamento, bem como o total e a média de salários deles. Faça um relatório no formato nome_departamento | numero_funcionarios | salario_total | salario_medio ordenado por salario medio, do maior para o menor. Os números decimais devem conter duas casas após a virgula.

In [14]:
departments_employees = departments.join(employees, on = employees.department_id==departments.department_id, how='left' ).drop(employees.department_id)

In [15]:
departments_employees = departments_employees.withColumn("employee_id", \
                                                       when(departments_employees["employee_id"].isNull(), 0).otherwise(1))
departments_employees.groupby('department_name').agg(sum('employee_id').alias('numero_funcionarios'), sum('salary').alias('salario_total'), round(mean('salary'), 2).alias('salario_medio')).selectExpr('department_name as nome_departamento', 'numero_funcionarios', 'salario_total', 'salario_medio').orderBy(desc('salario_medio')).show(departments_employees.count(), False)

+-----------------+-------------------+-------------+-------------+
|nome_departamento|numero_funcionarios|salario_total|salario_medio|
+-----------------+-------------------+-------------+-------------+
|Executive        |3                  |58000.0      |19333.33     |
|Accounting       |2                  |20300.0      |10150.0      |
|Public Relations |1                  |10000.0      |10000.0      |
|Sales            |6                  |57700.0      |9616.67      |
|Marketing        |2                  |19000.0      |9500.0       |
|Finance          |6                  |51600.0      |8600.0       |
|Human Resources  |1                  |6500.0       |6500.0       |
|Shipping         |7                  |41200.0      |5885.71      |
|IT               |5                  |28800.0      |5760.0       |
|Administration   |1                  |4400.0       |4400.0       |
|Purchasing       |6                  |24900.0      |4150.0       |
+-----------------+-------------------+-------------+-------------+

### Faça um relatório que apresente o número de funcionários, o salario total e médio por departamento e país.

In [16]:
departments_locations = departments_employees.join(locations, on = locations.location_id==departments_employees.location_id, how='left' )

In [17]:
departments_countries = departments_locations.join(countries, on = countries.country_id==departments_locations.country_id, how='left' )

In [18]:
departments_countries.groupby('department_name', 'country_name').agg(sum('employee_id').alias('numero_funcionarios'), sum('salary').alias('salario_total'), round(mean('salary'), 2).alias('salario_medio')).selectExpr('department_name as nome_departamento', 'country_name as nome_pais','numero_funcionarios', 'salario_total', 'salario_medio').orderBy(desc('salario_medio')).show(departments_countries.count(), False)

+-----------------+------------------------+-------------------+-------------+-------------+
|nome_departamento|nome_pais               |numero_funcionarios|salario_total|salario_medio|
+-----------------+------------------------+-------------------+-------------+-------------+
|Executive        |United States of America|3                  |58000.0      |19333.33     |
|Accounting       |United States of America|2                  |20300.0      |10150.0      |
|Public Relations |Germany                 |1                  |10000.0      |10000.0      |
|Sales            |United Kingdom          |6                  |57700.0      |9616.67      |
|Marketing        |Canada                  |2                  |19000.0      |9500.0       |
|Finance          |United States of America|6                  |51600.0      |8600.0       |
|Human Resources  |United Kingdom          |1                  |6500.0       |6500.0       |
|Shipping         |United States of America|7                  |41200.0      |5885.71      |
|IT               |United States of America|5                  |28800.0      |5760.0       |
|Administration   |United States of America|1                  |4400.0       |4400.0       |
|Purchasing       |United States of America|6                  |24900.0      |4150.0       |
+-----------------+------------------------+-------------------+-------------+-------------+

### Traga o valor acumulado por departamento de cada pais.

In [19]:
departments_countries.groupby('department_name', 'country_name').agg(sum('salary').alias('salario_total')).selectExpr('country_name as nome_pais', 'department_name as nome_departamento', 'salario_total').orderBy('nome_pais').show(departments_countries.count(), False)

+------------------------+-----------------+-------------+
|nome_pais               |nome_departamento|salario_total|
+------------------------+-----------------+-------------+
|Canada                  |Marketing        |19000.0      |
|Germany                 |Public Relations |10000.0      |
|United Kingdom          |Sales            |57700.0      |
|United Kingdom          |Human Resources  |6500.0       |
|United States of America|Finance          |51600.0      |
|United States of America|Administration   |4400.0       |
|United States of America|Purchasing       |24900.0      |
|United States of America|Executive        |58000.0      |
|United States of America|Shipping         |41200.0      |
|United States of America|IT               |28800.0      |
|United States of America|Accounting       |20300.0      |
+------------------------+-----------------+-------------+

## Para entregar

1. Qual a média de salário dos programadores?
1. Quantos funcionários recebem o salário mínimo da função?
1. Quantos funcionários recebem o salário máximo da função?

4. Exercício 6 acima

### Qual a média de salário dos programadores?

In [20]:
employees_jobs = employees.join(jobs, on = employees.job_id==jobs.indice, how='left' )

In [21]:
programadores = employees_jobs.where(employees_jobs.job_title == 'Programmer')

In [22]:
programadores.groupby('job_title').agg(mean('salary').alias('media_salario')).selectExpr('job_title', 'media_salario').show()

+----------+-------------+
| job_title|media_salario|
+----------+-------------+
|Programmer|       5760.0|
+----------+-------------+

### Quantos funcionários recebem o salário mínimo da função?

In [23]:
employees_jobs.agg(
    count(when(col("salary") == col("salario_min"), True))
).show()

+-----------------------------------------------------+
|count(CASE WHEN (salary = salario_min) THEN true END)|
+-----------------------------------------------------+
|                                                    1|
+-----------------------------------------------------+

### Quantos funcionários recebem o salário máximo da função?

In [24]:
employees_jobs.agg(
    count(when(col("salary") == col("salario_max"), True))
).show()

+-----------------------------------------------------+
|count(CASE WHEN (salary = salario_max) THEN true END)|
+-----------------------------------------------------+
|                                                    1|
+-----------------------------------------------------+

### Traga o valor acumulado por departamento de cada pais.

In [25]:
departments_countries.groupby('department_name', 'country_name').agg(sum('salary').alias('salario_total')).selectExpr('country_name as nome_pais', 'department_name as nome_departamento', 'salario_total').orderBy('nome_pais').show(departments_countries.count(), False)

+------------------------+-----------------+-------------+
|nome_pais               |nome_departamento|salario_total|
+------------------------+-----------------+-------------+
|Canada                  |Marketing        |19000.0      |
|Germany                 |Public Relations |10000.0      |
|United Kingdom          |Human Resources  |6500.0       |
|United Kingdom          |Sales            |57700.0      |
|United States of America|Shipping         |41200.0      |
|United States of America|Administration   |4400.0       |
|United States of America|Executive        |58000.0      |
|United States of America|Finance          |51600.0      |
|United States of America|Accounting       |20300.0      |
|United States of America|IT               |28800.0      |
|United States of America|Purchasing       |24900.0      |
+------------------------+-----------------+-------------+